{% extends 'core/Clientes/base2.html' %}
{% load static %}
{% block secundario %}
<!-- Sale & Revenue Start -->
{% load crispy_forms_tags %}
<div class="container-fluid pt-4 px-4">
    <div class="bg-secondary text-center rounded p-4 ">
        <div class="d-flex align-items-center justify-content-between mb-4">
            <h6 class="mb-0">Agregar Noticia</h6>
           
        </div>
        <div class="table-responsive"></div>
        <table class="table text-start align-middle table-bordered table-hover mb-0">
            <form action="" method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                <table>
                    {{ form | crispy }}
                </table>
                <input class="btn btn-success my-4" type="submit" value="Agregar">
                <input class="btn btn-danger my-4" type="reset" value="Limpiar">
            </form>

            <h4>{{ msj }}</h4>
        </table>
    </div>
</div>

{% endblock %}





